body {
  font-size: 11pt;
}

.header {
  position: relative;
  background-image: url(/images/header.svg);
  background-position: center;
  background-size: cover;
  padding: 0; /* reset */
  clear: both;
  width: 100%;
  height: 175px;
  padding-bottom: 10px;
}

.header img{
  max-width: 100%; 
}

.header-mask {
  background: url(/images/logo.png) center center no-repeat rgba(0, 0, 0, 0.7);
  background-size: 225px 75px;
  width: 100%;
  height: 175px;
}

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

#content, #sidebar-primary {
  margin-top: 30px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .bs-social {
      text-align: left;
  }
  .bs-social-buttons li:first-child {
      padding-left: 0;
  }
}

@media (min-width: 400px) {
  .header {
    height: 275px;
  }

  .header-mask {
    height: 275px;
    background-size: 300px 100px;
  }
}

@media (min-width: 725px) {
  .header {
    height: 500px;
  }

  .header-mask {
    height: 500px;
    background-size: 600px 200px;
  }

  .header.minimal {
    height: 300px;
  }
  .header.minimal .header-mask {
    height: 300px;
    background-size: 300px 100px;
  }
}

div.container.libraries li { margin-bottom: 12px; }
