{{ define "main" }}

{{ partial "simple-hero" . }}

<main class="container my-6 px-4">
  <div class="columns">
    <div class="column is-one-quarter">
      <article class="panel is-primary">
        <p class="panel-heading">
          Links
        </p>
        {{ range .Params.internal }}
          <a class="panel-block" href="{{ relURL .link }}">
            <span class="panel-icon">
              <img src="{{ relURL .image }}" alt="">
            </span>
            {{ .name }}
          </a>
        {{ end }}
        <label class="panel-block has-background-primary has-text-white">External</label>
        {{ range .Params.external }}
          <a class="panel-block" href="{{ .link }}">
            <span class="panel-icon">
              <img src="{{ relURL .image }}" alt="">
            </span>
            {{ .name }}
          </a>
        {{ end }}
      </article>
    </div>
    <div id="books" class="column box">
      <h3 class="title">Books</h3>
      <div class="columns is-multiline">
        {{ range .Params.books }}
        <div class="column">
          <a href="{{ .linkUrl }}" target="_blank">
            <figure class="image">
              <img style="max-width: 250px" src="{{ .image }}">
            </figure>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</main>

{{ end }}
