{{ define "main" }}

{{ partial "simple-hero" . }}

<main class="container my-6 px-4">
  <div class="content mb-6">
    <ol>
      <li><a href="#newsletter">Newsletter</a></li>
      <li><a href="#books">Books</a></li>
      <li><a href="#talks">Conference Talks</a></li>
    </ol>
    {{ .Content }}
  </div>

  <section class="mb-6" id="newsletter">
    <h3 class="title">Newsletter</h3>
    <div class="content">
      {{ .Params.newsletter | markdownify }}
    </div>
    <a href="https://underjord.io/nerves-newsletter.html" class="button is-primary is-medium">
      Subscribe
    </a>
  </section>

  <section class="mb-6" id="books">
    <h3 class="title">Books</h3>
    {{ partial "book-list" .Params.books }}
  </section>

  <section class="mb-6" id="talks">
    <h3 class="title">Conference Talks</h3>
    {{ partial "youtube-list" .Params.talks }}
  </section>
</main>

{{ end }}
