<div class="widget">
  <h3 class="widget-title">Join the community</h3>
  <ul>
    <li><a class="spec" href="https://elixir-slackin.herokuapp.com/">#nerves channel on Elixir Slack</a></li>
    <li><a class="spec" href="https://groups.google.com/group/nerves-project">nerves-project mailing list</a></li>
    <!--li><a class="spec" href="https://twitter.com/NervesProject">@NervesProject on Twitter</a></li-->
    <li><a class="spec" href="https://github.com/nerves-project">Nerves on Github </a></li>
    <br>
    <a href="https://twitter.com/NervesProject" class="twitter-follow-button" data-show-count="false">Follow @NervesProject</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nerves-project.org" data-text="Cross-compiled Erlang for embedded" data-via="NervesProject">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </ul>
</div>
