<ul>
  <li><a href="/learn/#overview">Overview</a></li>
  <li>
    <a href="/learn/#getting-started">Getting Started</a>
    <ul><a href="/learn/prepare.html">Prepare your Tools</a></ul>
    <ul><a href="/learn/pre-built-demo.html">Pre-Built Demo Firmware</a></ul>
    <ul><a href="/learn/blinky-demo.html">The <strong>Blinky</strong> Demo</a></ul>
    <ul><a href="/learn/network-demo.html">The <strong>Hello Network</strong> Demo</a></ul>
    <ul><a href="/learn/first-project.html">Your First Nerves Project</a></ul>
    <ul><a href="/learn/elixir-otp-crash-course.html">Elixir/OTP Crash Course</a></ul>
  </li>
  <li><a href="/learn/#how-do-i">How Do I...</a></li>
  <li><a href="/learn/#frequently-asked-questions">Frequently-Asked Questions</a></li>
</ul>
