
<h3>Join the community</h3>
<ul class="list-unstyled">
  <li><a href="https://elixir-slackin.herokuapp.com/">#nerves channel on Elixir Slack</a></li>
  <li><a href="https://github.com/nerves-project">Nerves on Github </a></li>
  <li><a href="https://elixirforum.com/c/dedicated-sections/nerves">Nerves on the Elixir Forum</a></li>
</ul>
<ul class="list-unstyled">
  <li>
    <a href="https://twitter.com/NervesProject" class="twitter-follow-button" data-show-count="false">Follow @NervesProject</a>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nerves-project.org" data-text="Cross-compiled Elixir for embedded devices" data-via="NervesProject">Tweet</a>
  </li>
</ul>

<h3 class="widget-title">Latest News</h3>
<a data-chrome="noheader transparent" data-tweet-limit="3" class="twitter-timeline" href="https://twitter.com/NervesProject">Tweets by NervesProject</a>

