{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">{{.Title}}</p>
  </div>
</section>

<main class="content container my-6 px-4">
  {{ .Content }}

  <div>
    {{ range .Paginator.Pages.ByPublishDate.Reverse }}
    <a href="{{ .RelPermalink }}">
      <article class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ .Title }}</p>
              <p class="subtitle is-6"><time datetime="{{ .Date }}">{{ .Date }}</time></p>
            </div>
          </div>
          <div class="content">
            {{ .Summary }}
          </div>
        </div>
      </article>
    </a>
    {{ end }}
  </div>

  {{- template "_internal/pagination.html" . -}}
</main>

{{ end }}
