{{ define "main" }}

{{/*
  Example URL: /tags/
*/}}

{{ partial "simple-hero" . }}

<main class="container my-6 px-4">
  <div class="columns is-multiline">
    {{ range $key, $value := .Data.Terms.ByCount }}
      <div class="column">
        <a href="/tags/{{ $value.Name | urlize }}" class="button">
          <span>{{ $value.Name }}</span>
          <span class="tag is-rounded is-primary is-light">
            {{ $value.Count }}
          </span>
        </a>
      </div>
    {{ end }}
  </div>
</main>

{{ end }}
