{{ define "main" }}

<header class="hero is-primary is-medium">
  <div class="hero-body">
    <p class="title is-2 mb-4">Nerves ❤️ Community</p>
    <p class="is-size-5">
      Nerves strives to be an open and community driven project.
      <br>
      We love to hear how others are building with Nerves and want to highlight others contributions whenever we can.
    </p>
  </div>
</header>

<main class="container my-6 px-4">
  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-child is-10">
          <a href="https://fosstodon.org/@NervesProject" target="_blank">
            <figure class="image" style="max-width: 180px;">
              <img src="{{ relURL "img/mastodon.svg" }}" alt="">
            </figure>
          </a>
        </div>
        <div class="tile is-child"></div>
        <div class="tile is-child"></div>
        <div class="tile is-child"></div>
        <div class="tile is-child"></div>
      </div>
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-child"></div>
        <div class="tile is-child"></div>
        <div class="tile is-child"></div>
        <div class="tile is-child is-8">
          <a href="{{ relURL "newsletter" }}" target="_blank">
            <figure class="image" style="max-width: 160px;">
              <img src="{{ relURL "img/newsletter.svg" }}" alt="">
            </figure>
          </a>
        </div>
      </div>
      <div class="tile">
        <div class="content">
          <p class="title">Want updates?</p>
          <p class="subtitle">
            Follow <a href="https://fosstodon.org/@NervesProject">@NervesProject@fosstodon.org</a> or
            subscribe to the <a href="{{ relURL "newsletter" }}">Nerves Newsletter</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column is-4">
        <a href="https://www.meetup.com/nerves" target="_blank">
          <figure class="image" style="max-width: 300px;">
            <img src="{{ relURL "img/meetup.svg" }}" alt="">
          </figure>
        </a>
      </div>
      <div class="column">
        <div class="content">
          <p class="title">Feeling social?</p>
          <p class="subtitle">
            Come nerd out at the monthly <a href="https://www.meetup.com/nerves">Nerves Online Meetup</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column is-4">
        <figure class="image" style="max-width: 300px;">
          <img src="{{ relURL "img/questions.svg" }}" alt="">
        </figure>
      </div>
      <div class="column">
        <div class="content">
          <p class="title">Need help?</p>
          <p class="subtitle">Use the
            <span class="icon-text">
              <span class="icon">
                <img src="{{ relURL "img/elixir-forum.svg" }}"></img>
              </span>
              <span><a href="https://elixirforum.com/c/elixir-framework-forums/nerves-forum/74">Nerves Forum</a></span>
            </span>
            to find previously answered questions or ask for help.
          </p>
          <p class="subtitle">
            You can also post to the #nerves channel on the
            <span class="icon-text">
              <span class="icon">
                <img src="{{ relURL "img/slack.svg" }}"></img>
              </span>
              <span><a href="https://elixir-lang.slack.com/">Elixir Slack</a></span>
            </span>
            or <a href="https://github.com/nerves-project/nerves/issues/new" target="_blank">submit a new issue</a> on GitHub.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

{{ end }}
