{{ define "main" }}

<header class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <p class="title is-2 mb-6">{{ .Params.Tagline }}</p>
      <p class="subtitle">{{ .Params.aboutNerves | safeHTML }}</p>
    </div>
  </div>
</header>

<main class="container px-4 mb-6">
  <section class="section">
    <h4 class="subtitle is-4">{{ .Params.Introduction | safeHTML }}</h4>
  </section>

  <ul class="mb-6">
    {{ range .Params.Features }}
      <li class="card mb-4">
        <div class="card-content">
          <div class="media">
            <div class="media-left is-hidden-mobile">
              <figure class="image is-96x96"><img src="{{ .image }}"></figure>
            </div>
            <div class="media-content">
              <h4 class="title is-4">{{ .name }}</h4>
              <p class="subtitle is-6">{{ .description | safeHTML }}</p>
            </div>
          </div>
        </div>
      </li>
    {{ end }}
  </ul>

  <section class="section has-background-primary-light">
    <h2 class="title is-2">{{ .Params.Newsletter.title }}</h2>
    <div class="content">{{ .Params.Newsletter.description | markdownify }}</div>
    <div>
      <a href="{{ .Params.Newsletter.SubscriptionURL }}" class="button is-primary is-outlined">Subscribe</a>
      <div class="mt-2">
        <a href="{{ .Params.Newsletter.ArchiveURL }}">Past issues</a> |
        <a href="{{ .Params.Newsletter.FeedURL }}">RSS feed</a>
      </div>
    </div>
  </section>
</main>

{{ end }}
