{{ define "main" }}

<header class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <p class="title is-2 mb-6">{{ .Params.Tagline }}</p>
      <p class="subtitle">{{ .Params.aboutNerves | markdownify }}</p>
      <a href="{{ .Params.GetStartedURL }}" class="button is-primary is-light mb-2 mr-2">
        Get started
      </a>
      <a href="{{ .Params.Newsletter.SubscriptionURL }}" class="button is-primary is-light mb-2">
        Subscribe to Newsletter
      </a>
    </div>
  </div>
</header>
<main class="container px-4 mb-6">
  <section class="section">
    <h4 class="subtitle is-4">{{ .Params.Introduction | markdownify }}</h4>
  </section>
  <section>
    {{ partial "home/features.html" . }}
  </section>
  <section class="section px-0">
    {{ partial "home/technologies.html" . }}
  </section>
  <section class="section px-0">
    {{ partial "home/newsletter.html" . }}
  </section>
  <section class="section px-0">
    {{ partial "home/cases.html" . }}
  </section>
  <section class="section content px-0">
    {{ partial "home/sponsors.html" . }}
  </section>
</main>

{{ end }}
