<h2 class="title is-2">Cases</h2>
<p class="mb-4">
  Companies across industries are using Nerves to support their most innovative
  projects and drive operational efficiencies.
</p>
<ul class="columns">
  {{ range .Params.featuredCases }}
    <li class="column">
      <a href="{{ relURL .URL }}">
        <div class="card mb-4">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="{{ relURL .image }}" class="px-6">
            </figure>
          </div>
          <div class="card-content">
            <h4 class="title is-4">{{ .name }}</h4>
            <div class="content">{{ .description | markdownify }}</div>
          </div>
        </div>
      </a>
    </li>
  {{ end }}
</ul>
