<section id="features" class="hero is-primary py-6">
  <div class="hero-body">
    <p class="is-size-4">
      {{ .Params.introduction }}
    </p>
</section>
<section id="features" class="hero is-light py-6">
  <div class="hero-body" style="max-width:68rem;margin:auto">
    <div class="level">
      <div class="level-item">
        <p class="title is-2 pb-6">Features</p>
      </div>
    </div>
    <div class="columns is-gapless is-multiline">
      {{ range .Params.Features }}
        <div class="column is-half mb-2">
          <div class="card mx-1">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <img src="{{ relURL .image }}" class="feature-img mr-4" style="width:4.5rem">
                </div>
                <div class="media-content">
                  <p class="title is-5">{{ .name }}</p>
                  <p class="content">{{ .description | markdownify }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
