<h2 class="title is-2">We love our sponsors</h2>
<p>
  Nerves Open Collective and industry-level sponsors help us provide the
  tools you need to develop and launch your most interesting projects.
</p>
<details open>
  <summary>Our sponsors</summary>
  <section class="section has-text-centered">
    <h3 class="title is-4 has-text-grey-dark">Platinum Sponsor</h3>
    <a href="https://smartrent.com/">
      <img src='{{ relURL "img/SmartRent_logo.png" }}' alt="SmartRent">
    </a>
  </section>
  <section class="section has-text-centered">
    <h3 class="title is-4 has-text-grey-dark">Bronze Sponsor</h3>
    <a href="https://binarynoggin.com/">
      <img src='{{ relURL "img/BinaryNoggin_logo.png" }}' alt="BinaryNoggin">
    </a>
  </section>
  <!-- https://opencollective.com/widgets -->
  <script src="https://opencollective.com/nerves-project/banner.js"></script>
</details>
<h3>Sponsor this project</h3>
<p>
  While we completely enjoy working on the project, the reality is that we
  can make better progress with companies and individuals supporting our
  efforts. We're an open-source project, so in keeping with those
  principles, we'd like to be completely transparent in this effort and
  appropriately recognize everyone involved.
  <br>
  <br>
  To do this, we have two options for sponsorship:
</p>
<div class="columns">
  <div class="column">
    <div class="card mb-4">
      <div class="card-content">
        <div class="content">
          <h4>Open Collective Contribution</h4>
          <p>
            Contributions can be as small as $2/month. Funds from Open
            Collective go towards paying for operational, marketing, and
            other expenses.
          </p>
          <a class="button is-primary is-small" href="https://opencollective.com/nerves-project">
            Contribute on Open Collective
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card mb-4">
      <div class="card-content">
        <div class="content">
          <h4>Sponsoring a Nerves Team Member</h4>
          <p>
            Fund one or more individuals on a weekly basis to contribute to
            maintenance, infrastructure, or other activities important to
            the project. Sponsorship is handled directly with the team
            member being sponsored.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
