{{ define "main" }}

{{ partial "simple-hero" . }}

{{ $current_year := .Params.current_year}}
<section class="section">
  <div class="content">
    <p class="subtitle">
      A compilation of conference talks, meetup recordings, and community submitted videos.
    </p>
    <em>Missing a video? <a href="https://github.com/nerves-project/nerves-project.github.com/blob/main/content/videos.md">Submit a PR here!</a></em>
  </div>
  <div class="columns">
    <div class="column">
        <div id="video-container" class="container">
          <div class="tabs is-boxed">
            <ul>
              {{ range $year, $data := .Params.videos }}
                <li class="{{ if (hasPrefix $year $current_year) }}is-active{{end}}">
                  <a id="{{ $year }}">{{ $year }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
          {{ range $year, $data := .Params.videos }}
          <div id="{{ $year }}-content" style="display:{{ if (hasPrefix $year $current_year) }}block{{else}}none{{end}};">
            <div  class="columns is-multiline">
              {{ range $data }}
                <div class="column is-4">
                  <div class="box">
                    <a href="{{ .url }}" target="_blank">
                      <img src="{{ .thumbnail }}" alt="">
                    </a>
                    <center class="subtitle">{{ .title }}</center>
                  </div>
                </div>
              {{ end}}
            </div>
          </div>
          {{ end}}
        </div>
    </div>
  </div>
</section>

{{ end }}
