<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="header" class="header {% if page.url != '/' %}minimal{% endif %}">
      <div class="header-mask"></div>
    </div>

    <div class="container {{ page.category }}">
      <div class="row">
        <div id="content" class="col-md-9">
          {{ content }}
        </div><!-- #content -->

        <div id="sidebar-primary" class="col-md-3">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    </div><!-- /.container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-16709386-2', 'nerves-project.org');
        ga('send', 'pageview');
    </script>

    </body>
</html>


