<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Nerves-project website">
        <meta name="author" content="Frank Hunleth">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/assets/js/html5shiv.js"></script>
          <script src="/assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if page.category == 'home' %}<li class="active"><a href="/">Home</a></li>{% else %}<li><a href="/">Home</a></li>{% endif %}
            {% if page.category == 'gettingstarted' %}<li class="active"><a href="/gettingstarted.html">Getting Started</a></li>{% else %}<li><a href="/gettingstarted.html">Getting Started</a></li>{% endif %}
            {% if page.category == 'docs' %}<li class="active"><a href="/docs.html">Docs</a></li>{% else %}<li><a href="/docs.html">Docs</a></li>{% endif %}
            <li><a href="https://github.com/nerves-project">GitHub</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

        <div class="nerves-main">
            {{ content }}
        </div>

    </div><!-- /.container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-16709386-2', 'nerves-project.org');
      ga('send', 'pageview');
    </script>

    </body>
</html>
